html, body, #root {
  background-color: #000000 !important;
  color: #ffffff !important;
  margin: 0;
  padding: 0;
  min-height: 100%;
}


.app-container {
  height: 100vh;
}

.page-layout {
  display: flex;
  height: 100vh;
}
